

.info{
    padding-top: 2rem;
    max-width: 1280px;
    margin: auto;
    
}

.line {
    width: 100%;
    margin: auto;
    height:2px;
    background-color: rgba(255,255,255,0.15);
}

.itens-wrapper{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-inline: 1.25rem;
}

.item{
    flex: 1;
    min-width: 150px;
}

.item--title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.item--description{
    color: rgba(255,255,255,0.7);
    text-align: center;
    text-transform: uppercase;
}

/* info-wrapper estilo*/


.info-wrapper{
    display: flex;
    padding-inline: 1.25rem;
    margin-top: 4rem;
   
}

.info--left{
    flex: 1;
}

.info--right{
    flex: 1;
    align-self: center;
}

.info--up--text{
    color: #2eb1a3;
    text-transform: uppercase;
    font-weight: 600;

}

.info--title{
    font-size: 2.5rem;
    line-height:1.2;
    font-weight: 500;

}

.info--description{
    color: rgba(255,255,255,0.7);
    line-height: calc(1em + 0.07rem );
    margin-block: 1rem;
    font-size: 0.9rem;

}

@media (width < 1024px){

    .info-wrapper{
        flex-direction: column;

    }

    .info--description{
        max-width: 60ch;
    }

    .info--left{
        margin: auto;
    }
}

@media (width < 475px){
  
    .info--title{
        font-size: 2rem;
    }

}